{% extends "template_base.html" %}
<title>{% block titre %} Actualités  {% endblock %}</title> 
{% block contenu%}

    <h1>Les actualités technologiques.</h1>
    <p>
        Restez informé des dernières nouvelles technologies 
        <a href="https://www.tf1info.fr/international/russie-des-casques-de-vr-realite-virtuelle-ont-ils-ete-utilises-sur-des-vaches-pour-augmenter-leur-production-laitiere-2138816.html"  style="color: blue; text-decoration: underline;display: block">
            Des casques de réalité virtuelle pour augmenter la production des vaches ?
        </a>

        
    </p>
    {% endblock %} 