
{% extends "template_base.html" %}

<title>{% block titre %} Home {% endblock %}</title> 


{% block contenu%}

<div style="display: flex;">
   <!-- Colonne de gauche -->
   <div style="width: 50%; padding: 20px;">
       <h2>Contexte et Problematique</h2>
       <p style="text-align: justify;">
        Les NTIC constituent un atout majeur pour la productivité du secteur agricole face aux défis et contraintes auxquels les agriculteurs sont confrontés. </p> 
        <img src="../static/images/agritic.jpg" alt="Les NTIC en agricultures" width="500">
        
        <br>
        <br>
        <br>
        <p style="text-align: justify;"> Cependant, leur adoption n’est pas systématique. Autrement dit, malgré les nombreux avantages qu’elles offrent, certains agriculteurs hésitent ou refusent de les utiliser.
        Plusieurs facteurs peuvent expliquer cette réticence à adopter les NTIC (Nouvelles Technologies de l’Information et de la Communication) malgré leurs avantages évidents :
        Telsque: Manque de Moyens economiques, manque de competence techniques, capital social et culturelle inadaptés, capital foncier et physique incompatibles aux technologies proposées

      <p style="text-align: justify;"> Donc la mise point des NTIC doit tenir compte des capacités des agriculteurs. Autrement dit des capitaux dont ils se disponible. Ainsi cette plateforme geoweb permet dans un premier temps de cartographier les capitaux disponibles. Dans un deuxième temps explorer le poids des capitaux dans l’adoption des technologies </p>
      <br>

      <h2>Objectifs</h2>

      <p style="text-align: justify;"> L'objectif du travail est de realiser une plateforme permettant de cartographier les capitaux disponibles et  explorer le poids des capitaux dans l’adoption des technologies 
      afin que les decideurs technologiques et politiques puissent proposées des technologies qui sont accecibles et utilisables par les agricultures.</p>

      <h2>Methodologie</h2>

      <h2>Resultats attendu</h2>
      <p> Developper une carte interrative des capitaux  permettant de ciblés des exploitations et aussi prendre des decisions</p>


     </p>
   </div>

   <!-- Colonne de droite -->
   <div style="width: 50%; padding: 20px;">
       <h2>Les avantages des NTIC</h2>
       <pstyle="text-align: justify;">On présente les avantages</p>
   </div>
</div>









    {% endblock %}
